body
{
	font-family: Market Deco;
  margin-left: 1%;
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

}
head
{
  height: 100%;
  width: 100%;
}
section
{
	display: flex;
	margin-top: 10%;
	width: 100%;
	height: 100vh;
	
	
	margin-right:  5%;
	flex-direction: column;
}
#container
{
	height: 70%;
	width: 90%;
	margin-left: 10%;
}
.title
{
	
	
	height: 10%;

}
.title p
{
	margin-bottom: 0px;
	font-size: 2em;
	
}
.corpo
{
	height: 70%;
	display: flex;
	flex-direction: row;
	width: 100%;
	
	margin-top: 2%;
}
.elements
{
	
	border-radius: 20px;
	height: 80%;
	width: 45%;
	padding-left: 2vh;
}
#lineeOrdine
{
	
	border-radius: 20px;
	
	background-color: lightgray;
	margin-right: 5%;
	height: auto;
}
#intestazione
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 20%;
	font-size: 0.8em;
	border-radius: 20px;
}
.empty
{
	width: 60%;
	
}
.empty p
{
	padding-top: 3vh;
}
#totInt
{
	text-align: center;
}
#totInt p
{
	margin-left: 3vh;
}
.noEmp
{
	width: 20%;
	padding-top: 5vh;
	text-align: right;
	margin-right: 2vh;

	
}

#linea
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	margin-left: 2vh;
	border-radius: 20px;
	padding-top: 1vh;
	
}
.noEmpLinea
{
	width: 20%;
	
	text-align: center;
	margin-bottom: 0px;
}
#prodotto
{
	margin-bottom: 0px;
}
#totale
{
	border-top: dotted;
	height: 30%;
	margin-top: 3vh;
	padding-top: 3vh;
	font-size: 1.4em;
	margin-left: 2vh;
}

#totale #tot
{
	margin-left: 2vh;
}



ul
{
	list-style-type: none;
}
li
{
	margin-top: 3vh;
}
.value
{
	color: gray;
}
#piePagina
{
	height: 20%;
	width: 50%;
	
	margin-top: 0%;
	margin-left: 20%;
}
.submit {
  margin-left: 8%;
  margin-right: 20px;
  
  background-color: white;
  border: none;
  height: 50px;
  font-size: 15px;
  width: 150px;
  margin-right: 10vh;
  font-size: 1.3em;
  
}

.submit:hover {
  
  
  border-radius: 10px;

}
#conferma
{
  color: rgb(51, 255, 51);
  height:55px;
  font-family: adobe-gothic-std, sans-serif;

}
#conferma:hover
{
  background-color: rgb(51, 255, 51);
  color:white;
}

#goBack1
{
  
  appearance:button;
  text-align: center;
  color:red;
  width: 210px;  
  align-items: flex-start;
  padding-top:1.2vh;
}

#goBack1:hover {
  background-color: red;
  
  color: white;
}

.popUp 
{
  visibility: hidden;
  position: fixed;
  bottom: 12%;
  right: 33%;
  width: 33.33%;
  height: 60%;
  
 }

 .container
 {
 	display: flex;
 	flex-direction: column;
 	height: 100%;
 	width: 100%; 	


 }
 .header p
 {
 	font-size: 2em;
 }
 .sectionPp
 {
 	height: 40%;
 	width: 100%;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	border-radius: 20px 20px 0 0;
 	padding-top: 5vh;
 	font-size: 1.2em;
 	background-color: #ffdf6cff;
 }
 
 #closeForm
 {
  appearance: button;
  font-size: 1em;
  padding: 9px 27px;
 	border-radius: 12px;
  z-index: 1;
 }
 #closeForm:hover
 {
 	color: white;
 	background-color: rgb(255, 71, 26);
 }
 #img
 {
 	height: 40%;
 	width: 100%;
 	
 	align-items: center;
 	background-color: #ffdf6cff;
  }
 #imgConf
 {
 	height: 50%;
 	width: 30%;
 	margin-left: 38%;
 	margin-top: 6%;
 }
 .footer
 {
 	
 	
	height:25%;
	width:100%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	align-items: center;
	background-color:white;
	box-shadow: 0px 3px 2px 0 rgba(0,0,0,0.24), 0 0px 50px 0 rgba(0,0,0,0.19);
}
.btn
 {
 	appearance: button;
 	height: 50%;
 	width: 35%;
 	
 	border-radius: 20px;
 	margin-left: 25vh;
 	margin-top: 2vh;
 	text-align: center;
 	background-color: #ffdf6cff;
 		padding-top: 2vh;
 	text-decoration: none;
 	color:balck;
 }
 
 
 .btn:hover
 {
 	
 	box-shadow: 0px 3px 2px 0;
 	transition: 0.2s; 
 }
 
