* {
	font-family: Market Deco;
}

body {

	font-family: adobe-gothic-std, sans-serif;
	font-style: normal;
	font-size: 1.2em;
	display:flex;
	flex-direction: column;
	align-items: center;
}
header
{
	padding-left: 12vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

h2 {
	padding: 25px 10px 0px 10px;
	font-size: 35px;
}


form {
	padding: 10px 25px;
}

ul
{
	margin-top:0px;
	padding: 0;
	list-style-type: none;
	margin-left: 0px;	
}
li
{
	margin-left: 0px;
}
a {
	
	text-decoration: none;
	color: black;
}
#newDom
{
	color:gray;
	margin-left: 2vh;
	font-size: 1em;
	margin-top: 0;
}

#newDom:hover {
	text-decoration: none;
	color:	rgb(51, 51, 51);
	transition: 0.2s;
}

.box {
	display:flex;
	flex-direction: column;
	align-items: left;
}

.title h2
{
	margin-bottom: 0;
	font-size: 2.5em;
}

#form
{
	margin-top: 0;

	font-size: 1.3em;
}
.buttons {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
    justify-content: center;
}

button[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6.5px;
  cursor: pointer;
  font-size:20px;
}

button[type=submit]:hover {
  background-color: #7CFC00;
  color: white;
}

button[type=button] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6.5px;
  cursor: pointer;
  font-size:20px;
}


button[type=button]:hover {
	background-color: red;
	color: white;
}


ul li a {
	color:gray;
	font-size: 3vh;
	transition:0.2s;
}

ul li a:hover{
	color: black;
}

.add {
	padding: 15px 10px;
}

.add a:hover {
	color: gray;
}
