<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	<link th:href="@{/css/selezionaDomicilio.css}" rel="stylesheet">	
   	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
   	<link rel="icon" href="/images/svg/logo.svg" type="image/icon type">
   	<title th:text="#{selezionaDomicilio.title}"></title>
  </head>
  <body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
  	<header>
  	<div class="title">
  		<h2 th:text="#{gestisciDomicilio.title}">Gestisci i domicilii</h2>
  	</div>
  	</header>
  	
  	<div class="box">
  	     <form th:action="@{/eliminaDomicilio}" method="POST"  th:object="${domicilio}">
  			<ul>
            <li th:each="domicilioTemp : ${domicili}">
                <input type="radio" th:field="${domicilio.id}" th:value="${domicilioTemp.id}" required/>
                <label  th:for="${domicilio.id}" th:text="${domicilioTemp}" >Via u ue</label>
            </li>
            <li><a th:href="@{/aggiungiDomicilio}" th:text="#{selezionDom.add}"
            	> + Aggiungi domicilio...</a></li>
        </ul>
       		
		<div class ="buttons">
			
				<span><button type="submit" id="invio" value="Elimina">Elimina</button></span>
				<span><a href="utente" th:href="@{/utente}"><button type="button" id="goBack">Indietro</button></a></span>
				
		</div>
  	     </form>
  	  </div>
</body>
