<!--Info di fatturazione-->
<!--Qui il cliente inserisce i dati relativi all'ordine, ovvero, l'orario di consegna/ritiro e un commento sull'ordine-->

<!DOCTYPE html>
<html>
<head>
	<!--Da modificare, rendere i title dinamico-->
	<title>Info Fatturazione</title>
	<link th:href="@{/css/infoFatt.css}" rel="stylesheet">
</head>
<body>
		<nav>
				<!--Inseriremo qui il collegamento al frammento della home page-->
		</nav>
		<head>
			<!--Lo scrpit abilita la scelta dell'orario solo se è stato selezionato il radioBotton Pianifica-->
			<script type="text/javascript">

										
   						 function abilitaOrario()
   						  {
       								 var radio = document.getElementById("Pianifica");	//prendi la radio orario
       								 var orario = document.getElementById("PianificaOrario");	//prendi il l'input time 
        							orario.disabled = radio.checked ? false : true;	//abilita orario in base a radio (se checked o meno)
        							if (!orario.disabled) 	//se non è disabilitato
        							{
           							 	orario.focus();		//abilitalo
       					 			}
    						}

							</script>
			<!--I primi campi sono rimepiti di default-->
			<div id="title">
				<p >Info fatturazione</p>
			</div>
			
			<div id="elements">
				<ul>
					<li>Nome: <span class="nonModificabili"><!--Verra inserito tramite thymeleaf-->Pietro</span></li>
					<li>Cognome: <span class="nonModificabili"><!--Verrà inseirto tramite tymeleaf-->Quadrini</span></li>
					<li>Indirizzo: <span class="nonModificabili" th:text="${domicilio}"><!--Verrà inserito tramite tymeleaf-->Via del Corso 139 Roma 00145</span></li>
					<form id="form" method="POST" th:action="@{@{'/ordine' + '/' + ${ordine.id} + '/' + 'infoFatt'}} ">
						<li ><span th:if="${ordine.tipo} == 'Asporto'">Orario ritiro: </span>
							<span th:if="${ordine.tipo} eq 'Domicilio'">Orario consegna: </span>
							<span>
								<input type="radio" value="Prima possibile" id="Prima possibile"  th:field="${ordine.tipologiaDiConsegna} "name="consegna" onclick="abilitaOrario()" >
									<label for="Prima possibile">Prima possibile</label>
								<input type="radio" id="Pianifica" name="consegna"  value="Pianifica" th:field="${ordine.tipologiaDiConsegna}"  onclick="abilitaOrario()">
									<label for="Pianifica"> Pianifica</label>
								<input type="time" class="clock"  th:field="${ordine.orarioConsegna}" name="orarioConsegna" id="PianificaOrario" min="9:00" max="23:00" disabled="disabled">
								
							</span>
						</li>
						<li>
							<label for="commento">Commento:</label><br>
							<textarea placeholder="Citofono, piano..." rows="10" cols="50" th:field="${ordine.commento}"></textarea>
						</li>
						<span>
							
								<a th:href="@{/ordine/{id}/indietro (id=${ordine.id})}" id="goBack" >Torna all'ordine</a>

							<input  type="submit" class="btn" id="conferma"  value="Conferma"><h3></h3></a>
						</span>
					</form>
				</ul>
			</div>
			
		</head>
</body>
</html>