<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{menu.title}"> Menu </title>
	<link th:href="@{/css/menuStyle.css}" rel="stylesheet">
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<link rel="icon" href="/images/svg/logo.svg" type="image/icon type">
</head>

<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
	<h1 th:text="#{menu.title}" class="title">MENU</h1>
	<th:block th:each="panino : ${menu}">
		<div class="row" >
			<span><img th:src="@{${panino.path}}"></span>
			<label th:text="${panino.nome}"></label>
			<p th:text="${panino.descrizione}"></p>
			<label th:text="${panino.prezzo}+'&euro;'"></label>
		</div>
	</th:block>
</body>

</html>