<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<body>
	
    <div>
    	
    	
    	<div>
    		<!--Nome del prodotto--><h4 th:text="${prodotto.nome}"></h4>
			<span th:text="${prodotto.descrizione}">qui-va-titolo</span>
			<span th:text="${prodotto.prezzo}">qui-va-cognome</span>
			
   		</div>
    	
 		  <span>
 		  <!--Potrebbero essere dei bottoni in un form-->
 		  <a th:href="@{/ordine/{id}/prodotto/{id2}/inserisci (id=${ordine.id}, id2=${prodotto.id})}">Inserisci</a>
 		  <a href="selezionaProdotto.html">Back</a> 
 
    </div>
   
</body>
</html>