<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<body>
	
    <div>
    	
    	
    	<div th:object="${prodotto}">
    		<!--Nome del prodotto--><h4 th:text="*{nome}"></h4>
			<span th:text="*{descrizione}">qui-va-titolo</span>
			<span th:text="*{prezzo}">qui-va-cognome</span>
			
   		</div>
    	
 		  <span th:object="${prodotto}">
 		  <!--Potrebbero essere dei bottoni in un form-->
 		  <a th:href="@{'/prodotto' + '/' + ${prodotto.id} + '/' + 'inserisci'}">Inserisci</a>
 		  <a href="selezionaProdotto.html">Back</a> 
 
    </div>
   
</body>
</html>