<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<link th:href="@{/fogliCss/prodotto.css}" rel="stylesheet">
	<title>Prodotto</title>
</head>

<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
	


		<div class="content">
			<div class="imgBox"><img th:src="@{${prodotto.path}}"></div>
			<div class="description">
				<h1 th:text="${prodotto.nome}"></h1>
				<p th:text="${prodotto.descrizione}"></p>
				<h2 th:text="${prodotto.prezzo}+'&euro;'"></h2>
			</div>
		</div>




		<div class="buttons">
			<!--Potrebbero essere dei bottoni in un form-->

			<a th:href="@{/menu}"><button type="button" class="indietro"
					style="font-size: 17.5px; font-weight: 600"><b>Indietro</b></button></a>

		</div>


</body>

</html>