<!--Seleziona domicilio-->
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <title>Seleziona Domicilio</title>
    <link rel="stylesheet" href="selezionaDomicilio.css" />
  </head>
  <body>
  	
  	<nav>
  		<!--if needed-->
  	</nav>

  	<div class="testa">
  	</div>
  	<div class="title">
  		<h2>Seleziona domicilio</h2>
  	</div>
  	<section>
  		<form method="POST"  th:object="${domicilio}">
  			<ul>
            <li th:each="domicilioTemp : ${domicili}">
                <input type="radio" th:field="${domicilio.id}" th:value="${domicilioTemp.id}"/>
                <label  th:for="${domicilio.id}" th:text="${domicilioTemp.indirizzo}">Via u ue</label>
            </li>
        </ul>
       		<div> <a href="#">+ Aggiungi domicilio...</a></div>
		<div class ="buttons">
			<input type ="submit" id="submit">
			<button onclick="goBack()" id="goBack">Indietro</button>
				<script>
					function goBack() {
 					window.history.back();
					}
				</script>
		</div>
	</form>
	</section>
</body>



