<!--Seleziona domicilio-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	<link th:href="@{/css/selezionaDomicilio.css}" rel="stylesheet">	
  </head>
  <body>
  	
  	 <!----<nav th:replace="fragments/fragment.html :: intestazione"></nav>-->
  	
	<!--Si ne cessita un validator per verificare che l'utente abbia effettivamente selezionato un domicilio-->
  	<header>
  	<div class="title">
  		<h2>Seleziona domicilio</h2>
  	</div>
  	
  	
  		<form method="POST"  th:object="${domicilio}" id="form">
  			<ul>
            <li th:each="domicilioTemp : ${domicili}">
                <input type="radio" th:field="${domicilio.id}" th:value="${domicilioTemp.id}"/>
                <label  th:for="${domicilio.id}" th:text="${domicilioTemp}">Via u ue</label>
            </li>
        </ul>
       		<div> <a href="#" id="newDom">+ Aggiungi domicilio...</a></div>
		<div class ="buttons">
			
			<a th:href="@{/ordine/{id}/indietro (id=${ordine.id})}" class="submit" id="goBack" >Indietro</a>
			<input type ="submit" class="submit" value="Conferma" id="conferma">
				
		</div>
	</form>
	</header>
</body>



