<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment.html :: head(title='Login', style='fogliCss/registerForm.css', icon='/images/svg/logo.svg')"></head>
<body>
   <nav th:replace="fragments/fragment.html :: intestazione"></nav>
   
   <div class="form">
   
   <div id="title"><b>Registrazione Cliente</b></div>
   
   <form th:action="@{/register}" method="POST">
    <div class="box">
        <div class = "element">
            <div><input type="text" placeholder="Username" required
                       th:field="${credentials.username}"/></div>
            <div th:if="${#fields.hasErrors('credentials.username')}"
                th:errors="${credentials.username}" th:style="'color:red'"></div>
        </div>
        <div class = "element">
            <div><input type="password" placeholder="Password" required
                       th:field="${credentials.password}"/></div>
            <div th:if="${#fields.hasErrors('credentials.password')}"
                th:errors="${credentials.password}" th:style="'color:red'"></div>
        </div>
        <div class = "element">
            <div><input type="text" placeholder="Nome" required
                       th:field="${user.nome}"/></div>
            <div th:if="${#fields.hasErrors('user.nome')}"
                th:errors="${user.nome}" th:style="'color:red'"></div>
        </div>
        <div class = "element">
            <div><input type="text" placeholder="Cognome" required
                       th:field="${user.cognome}"/></div>
            <div th:if="${#fields.hasErrors('user.cognome')}"
                th:errors="${user.cognome}" th:style="'color:red'"></div>
        </div>
        <div class = "element">
            <div><input type="text" placeholder="Email" required
                       th:field="${user.email}"/></div>
            <div th:if="${#fields.hasErrors('user.email')}"
                th:errors="${user.email}" th:style="'color:red'"></div>
        </div>
       <div class = "element">
            <div><input type="text" placeholder="Telefono" required
                       th:field="${user.telefono}"/></div>
            <div th:if="${#fields.hasErrors('user.telefono')}"
                th:errors="${user.telefono}" th:style="'color:red'"></div> 
        </div> 
        <div class = "element">
            <button type="submit">REGISTRA</button>
        </div>
    </div>
	</form>
  </div>
</body>