<!DOCTYPE html>
<html>
<body>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="inserisciDomicilio.css">
</head>
<div class = "pop-up">
  <div class = "header"><p>Inserisci Domicilio</p></div>
  <form th:action="@{/domicilio}" method="POST" th:object="${domicilio}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>    
    <div class = "dati">
      <div class = "flex">
        <span>Via/Vicolo/Piazza...:</span>
        <span><input type="text" th:field="*{tipo}" id="enter"/></span>
        <span th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span>
      </div>    
      <div class = "flex">
        <span>Indirizzo:</span>
        <span><input type="text" th:field="*{indirizzo}" id="enter" /></span>
        <span th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}" id="enter"></span>
      </div>
      <div class = "flex">
        <span>Civico:</span>
        <span><input type="text" th:field="*{civico}" id="enter" /></span>
        <span th:if="${#fields.hasErrors('civico')}" th:errors="*{civico}"></span>
      </div>
      <div class = "flex">
        <span>Cap:</span>
        <span><input type="text" th:field="*{cap}" id="enter" /></span>
        <span th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></span>
      </div>
  </div>
      <div class = "buttons">
        <input type ="submit" id="submit" value="Conferma">
        <button onclick="goBack()" id="goBack">Indietro</button>
        <script>
          function goBack() {
          window.history.back();
         }
        </script>
      </div>
  </form>
</div>
</body>
</html>
