* {
	margin: 0;
}

body {
	font-family: adobe-gothic-std, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.pop-up {
	border-radius: 25px;
	background-color: white;
	width: 50%;
	-moz-box-shadow: 2px 2px 2px #333333, 5px 6px 3px #707070ff;
    -webkit-box-shadow:2px 2px 2px #333333, 5px 6px 3px #707070ff;
    box-shadow: 2px 2px 2px #333333, 5px 6px 3px #707070ff;
}

.header {
	background-color: #ffdf6cff;
	height:100px;
	width:100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	display: table;
	box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24), 0 0px 50px 0 rgba(0,0,0,0.19);
}

.header p {
	text-align: center;
	vertical-align: middle;
	font-size: x-large;
	display: table-cell;
}

.dati {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 700px;
	margin-left: 40px;
}

.dati p {
	text-align: left;
	vertical-align: middle;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
}

.flex {
	display: flex;
	flex-wrap: row;
	align-items: center;
	justify-content: space-around;
}


.flex .input {
	width: 35%
	padding: 12px 20px;
	border-radius: 4px;
}

.flex .input[type=text] {
	background-color: #f1f1f1;;
}

.buttons {
	display: flex;
	flex-direction: row;
    align-items: left;
    justify-content: space-around;
    margin-top: 20px;
    font-family: adobe-gothic-std, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 20px;
}

#submit {
	background-color: white;
	border: none;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom:20px;
}

#submit:hover {
	background-color: #ffdf6cff;
}

#goBack {
	background-color: white;
	border: none;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom:20px;
}

#goBack:hover {
	background-color: #ffdf6cff;
}