<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/esempioPopUp.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/ricapitoloOrdine.css}">
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<link rel="icon" th:href="@{/images/svg/logo.svg}" type="image/icon type">
</head>
<body>
<nav th:replace="fragments/fragment.html :: intestazione"></nav>
<section>
		<div id="container" th:if="${ordine}" th:object="${ordine}">
			<div class="title">
				<p>Ricapitolo ordine</p>
			</div>
			<div class="corpo">
				<div id="lineeOrdine" class="elements">
					<div id="intestazione">
						<div class="empty"></div>
						<div class="noEmp" > <p>Quantità</p></div>
						<div class="noEmp" id="totInt"> <p>Tot</p></div>
					</div>
					<div id="linea" th:each = "lio : ${lineeOrdine}">
						<div class="empty" id="prodotto" th:text="${lio.prodotto.nome}">Nome prodotto</div>
						<div class="noEmpLinea" th:text="${lio.quantita}">1</div>
						<div  class="noEmpLinea" th:text="${lio.subTotale}">8</div>
					</div>

					
					<div id="totale">
						<span>TOT €</span><span th:text ="${ordine.totale}" id="tot">65</span>
					</div>
				</div>
				<div id="infoFatturazione" class="elements">
					<ul>
						<li>
							<span>Nome: </span><span class="value" th:text="${ordine.utente.getNome()}"> Matteo</span>
						</li>
						<li>
							<span>Cognome: </span><span class="value" th:text="${ordine.utente.getCognome()}"> Wissel</span>
						</li>
						<li>
							<span>Indirizzo: </span><span th:text="${domicilio}"class="value"></span>
						</li>
						<li>
							<span>Tipo: </span><span class="value" th:text="${ordine.tipo}"></span>
						</li>
						<li>
							<span>Orario: </span><span class="value" th:if="${ordine.tipo=='Domicilio'}" th:text="${ordine.orarioConsegna}"></span>
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>
		<div id="piePagina">
			<a href="/home" id="torna">torna alla home</a>
		</div>

	</section>
</body>
</html>
