<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
<link th:href="@{/fogliCss/prodotto.css}" rel="stylesheet">
<title>Prodotto</title>
</head>
<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
    <div class="corpo">
    	
    	
    	<div class="testo">
    		<!--Nome del prodotto--><h1 th:text="${prodotto.nome}" id="nomeProdotto"></h1>
			<span>
			<label th:text="#{prodotto.descrizione}"></label>
			
			<label th:text="${prodotto.descrizione}" id="descrizione"></label>
			</span>
			Prezzo: <span th:text="${prodotto.prezzo}" id="prezzo"></span>
			<div id="img"><img th:src="@{${prodotto.path}}"></div>
    	</div>
			

    	
    	<div class="buttons">
 		  <!--Potrebbero essere dei bottoni in un form-->
 		  <a th:href="@{/ordine/prodotto/{id2}/inserisci (id2=${prodotto.id})}">
 		  	<button type="button" class="inserisci">Inserisci</button></a>
 		  <a th:href="@{/ordine/indietro}"><button type="button" class="indietro">Indietro</button></a> 
 	   </div>
 
    </div>
   
</body>
</html>