<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{ricapitolo.titolo}">Home</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/esempioPopUp.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/ricapitoloOrdine.css}">
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<link rel="icon" th:href="@{/images/svg/logo.svg}" type="image/icon type">
</head>
<body>
<nav th:replace="fragments/fragment.html :: intestazione"></nav>
<section>
		<div id="container" th:if="${ordine}" th:object="${ordine}">
			<div class="title">
				<p th:text="#{ricapitolo.titolo}">Ricapitolo ordine</p>
			</div>
			<div class="corpo">
				<div id="lineeOrdine" class="elements">
					<div id="intestazione">
						<div class="empty"></div>
						<div class="noEmp" > <p th:text="#{ricapitolo.qnt}">Quantità</p></div>
						<div class="noEmp" id="totInt"> <p th:text="#{ricapitolo.tot}">Tot</p></div>
					</div>
					<div id="linea" th:each = "lio : ${lineeOrdine}">
						<div class="empty" id="prodotto" th:text="${lio.prodotto.nome}">Nome prodotto</div>
						<div class="noEmpLinea" th:text="${lio.quantita}">1</div>
						<div  class="noEmpLinea" th:text="${lio.subTotale}">8</div>
					</div>

					
					<div id="totale">
						<span>TOT €</span><span th:text ="${ordine.totale}" id="tot">65</span>
					</div>
				</div>
				<div id="infoFatturazione" class="elements">
					<ul><li>
							<span th:text="#{ricapitolo.nome}">Nome: </span>
								<span class="value" th:text="${ordine.utente.getNome()}"> Matteo</span>
						</li>
						<li>
							<span th:text="#{ricapitolo.cognome}">Cognome: </span>
								<span class="value" th:text="${ordine.utente.getCognome()}"> Wissel</span>
						</li>
						<li>
							<span th:text="#{ricapitolo.indirizzo}">Indirizzo: </span><span th:text="${domicilio}"class="value"></span>
						</li>
						<li>
							<span th:text="#{ricapitolo.tipo}">Tipo: </span><span class="value" th:text="${ordine.tipo}"></span>
						</li>
						<li>
							<span th:text="#{ricapitolo.orario}">Orario: </span><span class="value" th:if="${ordine.tipo=='Domicilio'}" th:text="${ordine.orarioConsegna}"></span>
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>		
				
		<div id="piePagina">
			
		
			<button class="submit" id="conferma" onclick="openForm()" th:text="#{ricapitolo.conferma}">Conferma</button>
			<a  id ="goBack1" class="submit" th:href="@{/ordine +'/'+ ${ordine.id} + '/' + infoFatturazione}"
			th:text="#{ricapitolo.tornaOrdine}">Torna all'ordine</a>
		</div>
	<script>
		function openForm() //Apuretura del pop-up
				{
		  		document.getElementById("popUp").style.visibility = "visible";
				}
		
				function closeForm() //chiusura del pop-uè
				{
		  		document.getElementById("popUp").style.visibility = "hidden";
				}
			</script>
	<div  id="popUp" class="popUp"> 
	<div class = "container">
			

			
			
		<div class ="sectionPp"> 
			<span th:text="#{ricapitolo.nuovoOrdine}">Nuovo ordine creato</span>
			<br>
			<br>
			<h2 th:text="${ordine.id}">Numero ordine</h2>

			
			
			
			
		</div>
		<div id="img">
				<img  id="imgConf" th:src="@{/images/png/checkSVG.png}">
			</div>
		<div class="footer">
			<a th:href="@{/home}" class="btn"><b th:text="#{ricapitolo.tornaHome}">Torna alla home</b></a>
		</div>

	</section>
</body>
</html>
