<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/esempioPopUp.css}" rel="stylesheet">
	<link th:href="@{/fogliCss/selezionaProdotto.css}" rel="stylesheet">
	<link th:href="@{/css/modalitaConsegna.css}" rel="stylesheet">
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<title>Prodotti</title>
</head>

<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
	<!--Da stilizzare -->
 <section>
  <div class="box">
	<div class="prodotti">
		<h1 th:text="#{prodotti.titolo}">Seleziona Prodotti</h1>
		<ul th:each="prodotto : ${prodotti}">
			<li>
				<a href="prodotto.html" th:href="@{/ordine/{id}/prodotto/{id2} (id=${ordine.id}, id2=${prodotto.id})}">
					<span th:text="*{prodotto.nome}" class="prod"></span>
				</a>
				<span class="prod">Prezzo: <span th:text="*{prodotto.prezzo}">xx</span></span>
			</li>
		</ul>
	</div>
	<div class="totale">

		<span>
			<h1>Totale : </h1>
		</span>
		<span>
			<h1 th:text="${ordine.totale}">100</h1>
		</span>
		<!--Da stilizzare logica funziona-->

	</div>
	<div class="buttons">
	<!--Potremmo inserire un if, cove se, l'ordine ha tot=0, allora non permette di andare avanti'-->
	<button th:if="${ordine.totale>0}" class="open-button" onclick="openForm()"
		style="font-size: 18px; font-weight: 600">Conferma</button>

	<a href="/home" id="back"><button type="button"
		style="font-size: 18px; font-weight: 600">Indietro</button></a></div>



	<div class="br">

		<script>
			function openForm() //Apuretura del pop-up
			{
				document.getElementById("popUp").style.visibility = "visible";

			}

			function closeForm() //chiusura del pop-uè
			{
				document.getElementById("popUp").style.visibility = "hidden";

			}
		</script>
	</div>
	<div id="popUp" class="popUp">
		<div class="container">
			<div class="header">
				<p>Seleziona opzione</p>
			</div>
			<div class="section">
				<a th:href="@{'/ordine' + '/' + ${ordine.id} + '/' + 'settaDomicilio'}" class="btn">
					<h2>A domicilio</h2>
				</a>
				<br>
				<a th:href="@{'/ordine'+'/'+${ordine.id}+ '/'+ settaAsporto}" class="btn">
					<h2>Asporto</h2>
				</a>
			</div>
			<div class="footer">
				<a onclick="closeForm()" id="closeForm">
					<h2>Annulla</h2>
				</a>
			</div>
			<script>
				function goBack() {
					window.history.back();	//torna indietro alla pagina precedente
				}
			</script>
		</div>
	</div>
	</div>
	</section>
</body>

</html>