<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/esempioPopUp.css}" rel="stylesheet">
	<link th:href="@{/fogliCss/selezionaProdotto.css}" rel="stylesheet">
	<link th:href="@{/css/modalitaConsegna.css}" rel="stylesheet">
	<link th:href="@{/css/fragmentStyle.css}" rel="stylesheet">
	<title>Prodotti</title>
</head>

<body>
	<nav th:replace="fragments/fragment.html :: intestazione"></nav>
	<!--Da stilizzare -->
	<section>

		<div class="box">
			<div class="prodotti">
				<h1 th:text="#{prodotti.titolo}">Seleziona Prodotti</h1>
				<th:block th:each="prodotto : ${prodotti}">

					<div class="row">
						<a href="prodotto.html" th:href="@{/ordine/prodotto/{id2} (id2=${prodotto.id})}">
							<div class="boxImg"><img th:src="@{${prodotto.path}}"></div>
							<label th:text="${prodotto.nome}"></label>
							<p th:text="${prodotto.descrizione}"></p>
							<label th:text="${prodotto.prezzo}+'&euro;'"></label>
						</a>
					</div>

				</th:block>
			</div>
		</div>
			<div class="ricapitolo">
				<div class="lineeOrdine">
					<h1 th:text="#{ricapitolo.titolo}">Ricapitolo ordine</h1>
						<ul th:if="${ordine.lineeOrdine.size()>0}" th:each="lio : ${ordine.lineeOrdine}">
							<li th:text="${lio}"></li>
						</ul>
			
			<div class="totale">

				<span>
					<h1>Totale : </h1>
				</span>
				<span>
					<h1 th:text="${ordine.totale}">100</h1>
				</span>
				

			</div>
			<div class="buttons">

				<button th:if="${ordine.totale>0}" class="open-button" onclick="openForm()"
					style="font-size: 18px; font-weight: 1000">Conferma</button>

				<a th:href="@{/ordine/annulla}" id="back"><button type="button"
						style="font-size: 18px; font-weight: 1000">Annulla</button></a>
			</div>
			

			</div>
			<div class="br">

				<script>
					function openForm() //Apuretura del pop-up
					{
						document.getElementById("popUp").style.visibility = "visible";

					}

					function closeForm() //chiusura del pop-uè
					{
						document.getElementById("popUp").style.visibility = "hidden";

					}
				</script>
			</div>
			<div id="popUp" class="popUp">
				<div class="container">
					<div class="header">
						<p>Seleziona opzione</p>
					</div>
					<div class="section">
						<a th:href="@{/ordine/settaDomicilio}" class="btn">
							<h2>A domicilio</h2>
						</a>
						<br>
						<a th:href="@{/ordine/settaAsporto}" class="btn">
							<h2>Asporto</h2>
						</a>
					</div>
					<div class="footer">
						<a onclick="closeForm()" id="closeForm">
							<h2>Annulla</h2>
						</a>
					</div>
					<script>
						function goBack() {
							window.history.back();	//torna indietro alla pagina precedente
						}
					</script>
				</div>
			</div>
		
	</section>
</body>

</html>