*{
	margin: 0;
}

body{
	font-family: AdobeGothic Std;
	margin-left: 50px;
	margin-right: 50px;
}

.int {
	height: 250px;
	width: auto;
	background-color: #ffdf6cff
}

.titolo h1 {
	color: #202020ff;
	font-size: 55px;
	padding: 5px 20px;
}

.titolo h3 {
	color: #707070ff;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 20px;
}

.list {
	color: 202020ff;
	margin-top: 25px;
}

.testo a {
	text-decoration: none;
	color: #707070ff;
	padding: 10px 12px;
	font-size: 20px;
	margin-bottom: 5px;
}

.testo a:hover {
	text-decoration: none;
	color: black;
}

