<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/fragmentStyle.css}">
</head>

<body>
	<nav th:fragment="intestazione">
		<div class="user">
			<button class="dropbtn"><img th:src="@{/images/svg/user.svg}" height="50px" width="50px">
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/authentication/loginForm" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
				<a href="/authentication/registrationForm" th:href="@{/register}" sec:authorize="isAnonymous()"
				th:text="#{tendina.registrati}">Registrati</a>
				<a href="/ordini/gestisciOrdini" th:href="@{/gestisciOrdini}" sec:authorize="isAuthenticated()"
				th:text="#{tendina.gestisciOrdini}">Gestisci ordini</a>
				
				<a href="home" th:href="@{/logout}" sec:authorize="isAuthenticated()">Esci</a>
			</div>
		</div>
		<div class="logo">
			<img th:src="@{/images/svg/logo.svg}">
			<p>Caffe'<br>Bistrot<br>Aperitivi</p>
		</div>
		<div class="nameAndMenu">
			<h1>HAMBURGERIA RAVA</h1>
			<ul>
				<li><a href="menu">Menu</a></li>
				<li><a href="#" th:text="#{navbar.prenota}">Prenota</a></li>
				<li><a href="#" th:text="#{navbar.dovesiamo}">Dove Siamo</a></li>
				<li><a href="#" th:text="#{navbar.contattaci}">Contatti</a></li>
			</ul>
		</div>
		<div class="logoSocial">
			<a id="ig" href="#"><img th:src="@{/images/svg/ig.svg}"></a>
			<a id="fb" href="#"><img th:src="@{/images/svg/fb.svg}"></a>
		</div>
	</nav>
</body>

</html>