<!--Seleziona domicilio-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   	<link th:href="@{''}" rel="stylesheet">	
  </head>
  <body>
  	
  	 <!----<nav th:replace="fragments/fragment.html :: intestazione"></nav>-->
  	

  	<div class="testa">
  	</div>
  	<div class="title">
  		<h2>Seleziona domicilio</h2>
  	</div>
  	<nav>
  	</nav>
  	<section>
  		<form method="POST"  th:object="${domicilio}">
  			<ul>
            <li th:each="domicilioTemp : ${domicili}">
                <input type="radio" th:field="${domicilio.id}" th:value="${domicilioTemp.id}"/>
                <label  th:for="${domicilio.id}" th:text="${domicilioTemp}">Via u ue</label>
            </li>
        </ul>
       		<div> <a href="#">+ Aggiungi domicilio...</a></div>
		<div class ="buttons">
			<input type ="submit" id="submit">
			<a th:href="@{/ordine/{id}/indietro (id=${ordine.id})}" id="goBack" >Indietro</a>
				
		</div>
	</form>
	</section>
</body>



